.sider-section{
	background-color: #FEEAE9;
	margin-top: 80px;
}
.btn-color{
background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
color: #fff;
border: none;
border-radius: 8px;
padding: 12px 25px;
border:none;

}
.bg-color-1{
background-color: #FFA500;
color: #FFFFFF;
}
.bg-color-2{
background-color: #DA70D6;
color: #FFFFFF;
}
.bg-color-3{
background-color: #0000D4;
color: #FFFFFF;
}